{% extends 'bible/base.html' %}
{% block title %}{{ book_name }}{% endblock title %}
{% block content %}
<div class="container">
<div class="card mx-auto text-center" style="width: 36rem;">
  <div class="card-header"><h3>The Holy Bible</h3></div>
  <ul class="list-group list-group-flush">
{% for book in books %}
{% if book.number == 1 %}
<li class="list-group-item"><a href="{% url 'genesis' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 2 %}
<li class="list-group-item"><a href="{% url 'exodus' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 3 %}
<li class="list-group-item"><a href="{% url 'leviticus' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 4 %}
<li class="list-group-item"><a href="{% url 'numbers' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 5 %}
<li class="list-group-item"><a href="{% url 'deuteronomy' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 6 %}
<li class="list-group-item"><a href="{% url 'joshua' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 7 %}
<li class="list-group-item"><a href="{% url 'judges' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 8 %}
<li class="list-group-item"><a href="{% url 'ruth' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 9 %}
<li class="list-group-item"><a href="{% url 'first_samuel' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 10 %}
<li class="list-group-item"><a href="{% url 'second_samuel' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 11 %}
<li class="list-group-item"><a href="{% url 'first_kings' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 12 %}
<li class="list-group-item"><a href="{% url 'second_kings' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 13 %}
<li class="list-group-item"><a href="{% url 'first_chronicles' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 14 %}
<li class="list-group-item"><a href="{% url 'second_chronicles' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 15 %}
<li class="list-group-item"><a href="{% url 'ezra' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 16 %}
<li class="list-group-item"><a href="{% url 'nehemiah' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 17 %}
<li class="list-group-item"><a href="{% url 'esther' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 18 %}
<li class="list-group-item"><a href="{% url 'job' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 19 %}
<li class="list-group-item"><a href="{% url 'psalms' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 20 %}
<li class="list-group-item"><a href="{% url 'proverbs' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 21 %}
<li class="list-group-item"><a href="{% url 'ecclesiastes' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 22 %}
<li class="list-group-item"><a href="{% url 'song_of_solomon' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 23 %}
<li class="list-group-item"><a href="{% url 'isaiah' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 24 %}
<li class="list-group-item"><a href="{% url 'jeremiah' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 25 %}
<li class="list-group-item"><a href="{% url 'lamentations' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 26 %}
<li class="list-group-item"><a href="{% url 'ezekiel' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 27 %}
<li class="list-group-item"><a href="{% url 'daniel' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 28 %}
<li class="list-group-item"><a href="{% url 'hosea' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 29 %}
<li class="list-group-item"><a href="{% url 'joel' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 30 %}
<li class="list-group-item"><a href="{% url 'amos' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 31 %}
<li class="list-group-item"><a href="{% url 'obadiah' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 32 %}
<li class="list-group-item"><a href="{% url 'jonah' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 33 %}
<li class="list-group-item"><a href="{% url 'micah' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 34 %}
<li class="list-group-item"><a href="{% url 'nahum' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 35 %}
<li class="list-group-item"><a href="{% url 'habakkuk' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 36 %}
<li class="list-group-item"><a href="{% url 'zephaniah' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 37 %}
<li class="list-group-item"><a href="{% url 'haggai' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 38 %}
<li class="list-group-item"><a href="{% url 'zechariah' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 39 %}
<li class="list-group-item"><a href="{% url 'malachi' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 40 %}
<li class="list-group-item"><a href="{% url 'matthew' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 41 %}
<li class="list-group-item"><a href="{% url 'mark' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 42 %}
<li class="list-group-item"><a href="{% url 'luke' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 43 %}
<li class="list-group-item"><a href="{% url 'john' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 44 %}
<li class="list-group-item"><a href="{% url 'acts' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 45 %}
<li class="list-group-item"><a href="{% url 'romans' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 46 %}
<li class="list-group-item"><a href="{% url 'first_corinthians' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 47 %}
<li class="list-group-item"><a href="{% url 'second_corinthians' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 48 %}
<li class="list-group-item"><a href="{% url 'galatians' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 49 %}
<li class="list-group-item"><a href="{% url 'ephesians' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 50 %}
<li class="list-group-item"><a href="{% url 'philippians' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 51 %}
<li class="list-group-item"><a href="{% url 'colossians' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 52 %}
<li class="list-group-item"><a href="{% url 'first_thessalonians' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 53 %}
<li class="list-group-item"><a href="{% url 'second_thessalonians' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 54 %}
<li class="list-group-item"><a href="{% url 'first_timothy' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 55 %}
<li class="list-group-item"><a href="{% url 'second_timothy' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 56 %}
<li class="list-group-item"><a href="{% url 'titus' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 57 %}
<li class="list-group-item"><a href="{% url 'philemon' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 58 %}
<li class="list-group-item"><a href="{% url 'hebrews' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 59 %}
<li class="list-group-item"><a href="{% url 'james' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 60 %}
<li class="list-group-item"><a href="{% url 'first_peter' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 61 %}
<li class="list-group-item"><a href="{% url 'second_peter' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 62 %}
<li class="list-group-item"><a href="{% url 'first_john' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 63 %}
<li class="list-group-item"><a href="{% url 'second_john' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 64 %}
<li class="list-group-item"><a href="{% url 'third_john' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 65 %}
<li class="list-group-item"><a href="{% url 'jude' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
{% elif book.number == 66 %}
<li class="list-group-item"><a href="{% url 'revelation' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ book }}</a></li>
</ul>
{% endif %}
{% endfor %}
</div>
</div>
{% endblock content %}
